<div class="container-fluid col-sm-4 center">
  <h2 >Inserisci nuovo Paziente:</h2>
  <form >

    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control">
      <!-- <div *ngIf="userName?.invalid && userName?.touched">
        <small *ngIf="userName?.errors?.required" class="text-danger">Username is required</small>
        <small *ngIf="userName?.errors?.minlength" class="text-danger">Username must be at least 3 characters</small>
        <small *ngIf="userName?.errors?.forbiddenName" class="text-danger">
          {{userName?.errors?.forbiddenName.value}} Username not allowed</small>
      </div> -->
    </div>

    <div class="form-group">
      <label>Cognome</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label> Età </label>
      <input type="text" class="form-control">
    </div>

    <div class="from-group">
      <label>Covid</label>
      <select class="custom-select custom-select-lg mb-3">
        <option selected>-</option>
        <option value="negativo">Negativo</option>
        <option value="positivo">Positivo</option>
      </select>
    </div>

    <div class="form-group">
      <label>Stato</label>
      <input formControlName="state" type="text" class="form-control" >
    </div>


    <div class="form-group row">
      <label >Data</label>
      <div class="col-12">
        <input type="date" class="form-control">
      </div>
    </div>

    <button class="btn btn-primary" style="float: right;" type="submit"> Register </button>
  </form>

</div>
